<tr class="clinic" data-clinic-id=<%= clinic.id %>>
  <td><%= clinic.name %></td>
  <td><%= clinic.code %></td>
  <td><%= clinic.hours_in_english %></td>
  <td><%= clinic.hours_in_spanish %></td>
  <td>
    <%= button_to edit_clinic_path(clinic), class: 'btn btn-sm btn-default', :method => 'get', remote: true do %>
      <span class="glyphicon glyphicon-pencil"></span> Edit
    <% end %>
  </td>
</tr>
