<div role="tabpanel" class="tab-pane" id="tests">
  <div id="new-script-form-container">
    <div class="modal fade" id="newScriptModal" tabindex="-1" role="dialog" aria-labelledby="newScriptModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>
  </div>

  <div id="edit-script-form-container">
    <div class="modal fade" id="editScriptModal" tabindex="-1" role="dialog" aria-labelledby="editScriptModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <br>
      Test scripts are what we deliver for the different tests and their different statuses.
      <br>
      All test scripts have access to <strong>clinic_hours</strong> variable which will be
      replaced with the clinics hours in the appropriate language.
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <br>
      <div role="testtabs">
        <ul class="nav nav-tabs" role="tablist">
          <% Test.all.each_with_index do |test, index| %>
            <li role="presentation" class="<%= "active" if index == 0 %>">
              <a href="#<%= test.name.delete(' ') %>" role="tab" data-toggle="tab"><%= test.name %></a>
            </li>
          <% end %>
        </ul>

        <div class="tab-content">
          <% Test.all.each_with_index do |test, index| %>
            <div role="testtabs" class="tab-pane <%= "active" if index == 0 %>" id="<%= test.name.delete(' ') %>">
              <div class="row">
                <div class="col-md-12">
                  <br>
                  <h4>
                    <div class="pull-right">
                      <%= button_to new_script_path(:test_id => test.id), class: 'btn btn-large btn-primary', method: "get", remote: true do %>
                        <span class="glyphicon glyphicon-plus"></span> New
                      <% end %>
                    </div>
                    Scripts for <%= test.name %>:
                  </h4>

                  <table class="table" data-script-table-id="<%= test.id %>">
                    <thead>
                      <th>Status</th>
                      <th>Language</th>
                      <th>Message</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </thead>
                    <tbody>
                      <% @scripts.select{|s| s.test_id == test.id }.each do |script| %>
                        <%= render partial: "test_scripts_row", locals: {script: script} %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
