<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <% if flash[:notice].present? %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>

  <% if flash[:alert].present?  %>
    <p class="alert alert-warning"><%= alert %></p>
  <% end %>

  <h2 class="page-header"><span class="glyphicon glyphicon-dashboard h3"></span>  Dashboard</h2>
  <div class="row result-delivery-stats">
    <table class="table table-striped">
      <thead>
        <th># of ...</th>
        <th>Last 30 Days</th>
        <th>Last 3 Months</th>
        <th>Last 12 Months</th>
      </thead>
      <tbody>
        <tr>
          <th>Patient Visits</th>
          <td><%= @dashboard[:visits][:last_30_days] %></td>
          <td><%= @dashboard[:visits][:last_3_months] %></td>
          <td><%= @dashboard[:visits][:last_12_months] %></td>
        </tr>

        <tr>
          <th>Online Visits</th>
          <td><%= @dashboard[:online_visits][:last_30_days] %></td>
          <td><%= @dashboard[:online_visits][:last_3_months] %></td>
          <td><%= @dashboard[:online_visits][:last_12_months] %></td>
        </tr>

        <tr>
          <th>Call-ins</th>
          <td><%= @dashboard[:call_ins][:last_30_days] %></td>
          <td><%= @dashboard[:call_ins][:last_3_months] %></td>
          <td><%= @dashboard[:call_ins][:last_12_months] %></td>
        </tr>

      </tbody>
    </table>
  </div>

  <h4>Export Data</h4>
  <div class="row">
    <div class="col-sm-9 col-md-9">
      <div class="input-daterange input-group" id="datepicker">
        <input type="text" class="form-control" name="start"/>
        <span class="input-group-addon">to</span>
        <input type="text" class="form-control" name="end" />
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <button id="downloadCSV" type="submit" class="btn btn-primary">Download CSV</button>
    </div>
  </div>
</div>
